@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url(reset.css);
@import url(cards.css);
@import url(alert.css);

*{
    box-sizing: border-box;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
body{
    background-color: #EEF9BF;
    position: relative;
    display: flex;
    justify-content: center;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #75B79E;
    font-size: 56px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.card-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1133px;
    margin-top: 120px;
}
.relogio{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #75B79E;
    position: absolute;
    top: 16px;
    right: 16px;
}
.tentativas{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #75B79E;
    position: absolute;
    top: 40px;
    right: 16px;
}
.byebyer img{
    height: 80vh;
    width: 80vh;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}
.byebyer h1{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 1100px){
    .relogio{
        display: none;
    }
    .tentativas{
        display: none;
    }
    h1{
        font-size: 36px;
    }
    .card-wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 1133px;
        margin-top: 140px;
    }
}